{% extends 'layout.html.twig' %}

{% block container_content %}

    <div class="span12">
        {% if token %}
            <h2>Your app is authorized against the http://oauth.server oauth2 API.</h2>
            <p>Access token: {{ token }}</p>
            <a class="btn" href="/request">Make an API request to /api/me</a>
            <p>OR</p>
            <a target="_blank" href="http://oauth.server/api/users" class="btn">Visit /api/me directly</a>
            <div class="alert">
                <p>You should get 401 "OAuth2 authentication required" when visiting the url directly as the resource needs to be authenticated by the oauth2 firewall.</p>
            </div>
        {% else %}
                <h2>Your app is not authorized yet.</h2>
                <a href="{{ url }}" class="btn">Authorize your app</a>
        {% endif  %}
    </div>

{% endblock %}